/* font-family: 'Lato', sans-serif; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --workout-bg-color: #323232
}

.container {
  display: flex;
  max-width: 95vw;
  width: 100vw;
  height: 97vh;
  max-height: 97vh;
  background-color: rgb(222, 222, 222);
  margin: 10px auto;
}

.container__workout {
  display: flex;
  width: 30vw;
  background-color: var(--workout-bg-color);
  justify-content: center;
}

.container__workout__header__wrapper {
  display: flex;
  align-items: center;
  height: 20vh;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.container__workout__ico {
  height: 8vh;
}

.container__workout__header {
  font-family: 'Lato', sans-serif;
  color: white;
}