* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --workout-bg-color: #323232
}

.container {
  display: flex;
  max-width: 95vw;
  width: 100vw;
  height: 97vh;
  max-height: 97vh;
  background-color: rgb(222, 222, 222);
  margin: 10px auto;
}

.container__workout {
  display: flex;
  width: 25vw;
  background-color: var(--workout-bg-color);
}